:root {
    /* orange */
    --primary: #ff6a3d;
    /* lavender */
    --secondary: #9daaf2;
    /* yellow */
    --highlight: #f9db6d;
    /* gray */
    --gray: #363b3d;
    /* medium gray */
    --gray-medium: #788387;
    /* light-gray */
    --gray-light: #e8e6e3;
    /*dark blue*/
    --background: #151b2d;
    /*darker-blue*/
    --header-background: #101523;
    /*white*/
    --color: var(--gray-light);
    /*white*/
    --heading-color: var(--primary);
}