/* LAYOUTING */
body {
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
}
#footer {
    display: none
}
details, .audioblock, .imageblock, .literalblock, .listingblock, .stemblock, .videoblock {
    margin-bottom: 2.5em;
    margin-top: 2.5em
}
.admonitionblock td.content>.title, .audioblock>.title, .exampleblock>.title, .imageblock>.title, .listingblock>.title, .literalblock>.title, .stemblock>.title, .openblock>.title, .paragraph>.title, .quoteblock>.title, table.tableblock>.title, .verseblock>.title, .videoblock>.title, .dlist>.title, .olist>.title, .ulist>.title, .qlist>.title, .hdlist>.title {
    font-size: .85rem
}
.paragraph.lead>p, #preamble>.sectionbody>[class="paragraph"]:first-of-type p {
    font-size: .9em
}
ul.no-bullet, ol.no-bullet, ol.unnumbered {
    margin-left: .625em
}
ol>li p, ul>li p, ul dd, ol dd, .olist .olist, .ulist .ulist, .ulist .olist, .olist .ulist {
    margin-bottom: 0
}
.imageblock>.title {
    margin-bottom: 0;
    margin-top: 0.625em
}
.imageblock.text-center>.title {
    text-align: center
}
p, blockquote, dt, td.content, span.alt {
    font-size: .9rem
}
/* THEMING */
:root {
    /* orange */
    --primary: #ff6a3d;
    /* lavender */
    --secondary: #9daaf2;
    /* yellow */
    --highlight: #f9db6d;
    /* gray */
    --gray: #363b3d;
    /* medium gray */
    --gray-medium: #788387;
    /* light-gray */
    --gray-light: #e8e6e3;
    /*dark blue*/
    --background: #151b2d;
    /*darker-blue*/
    --header-background: #101523;
    /*white*/
    --color: var(--gray-light);
    /*white*/
    --heading-color: var(--primary);
}
/* ACTUAL COLORING */
body {
    background: var(--background);
    color: var(--color);
}
a {
    color: var(--secondary);
}
.subheader, .admonitionblock td.content>.title, .audioblock>.title, .exampleblock>.title, .imageblock>.title, .listingblock>.title, .literalblock>.title, .stemblock>.title, .openblock>.title, .paragraph>.title, .quoteblock>.title, table.tableblock>.title, .verseblock>.title, .videoblock>.title, .dlist>.title, .olist>.title, .ulist>.title, .qlist>.title, .hdlist>.title {
    color: var(--primary);
}
.admonitionblock>table td.content {
    border-left-color: var(--gray);
    color: var(--gray-medium);
}
.sect1+.sect1 {
    border-top-color: var(--gray);
}
#header>h1:first-child,
h1, h2, h3, #toctitle, .sidebarblock>.content>.title, h4, h5, h6 {
    color: var(--primary);
}
#header .details {
    color: var(--color);
    border-bottom-color: var(--gray);
}
table {
    background: none;
}
table thead, table tfoot {
    background: var(--header-background);
}
table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td {
    color: var(--color);
}
table tr th, table tr td {
    color: inherit;
}
table.tableblock, th.tableblock, td.tableblock {
    border-color: var(--gray);
}
@media screen and (min-width:768px) {
    #toc.toc2 {
        background: var(--header-background);
        border-right-color: var(--gray);
    }
}
/* SPECIFIC CONSTRUCTS */
#traditional-vs-agile-table tbody tr td:first-child {
    background: var(--header-background);
}