:root {
    /* orange */
    --primary: #ff6a3d;
    /* lavender */
    --secondary: #9daaf2;
    /* yellow */
    --highlight: #f9db6d;
    /* gray */
    --gray: #363b3d;
    /* medium gray */
    --gray-medium: #788387;
    /* light-gray */
    --gray-light: #e8e6e3;
    /*dark blue*/
    --background: #151b2d;
    /*darker-blue*/
    --header-background: #101523;
    /*white*/
    --color: var(--gray-light);
    /*white*/
    --heading-color: var(--primary);
}
/* ACTUAL COLORING */
body {
    background: var(--background);
    color: var(--color);
}
a {
    color: var(--secondary);
}
.subheader, .admonitionblock td.content>.title, .audioblock>.title, .exampleblock>.title, .imageblock>.title, .listingblock>.title, .literalblock>.title, .stemblock>.title, .openblock>.title, .paragraph>.title, .quoteblock>.title, table.tableblock>.title, .verseblock>.title, .videoblock>.title, .dlist>.title, .olist>.title, .ulist>.title, .qlist>.title, .hdlist>.title {
    color: var(--primary);
}
.imageblock>.title {
    color: var(--gray-medium);
}
.admonitionblock>table td.content {
    border-left-color: var(--gray);
    color: var(--color);
    background: var(--header-background);
}
.sect1+.sect1 {
    border-top-color: var(--gray);
}
#header>h1:first-child,
h1, h2, h3, #toctitle, .sidebarblock>.content>.title, h4, h5, h6 {
    color: var(--primary);
}
#header .details {
    color: var(--color);
    border-bottom-color: var(--gray);
}
table {
    background: none;
}
table thead, table tfoot {
    background: var(--header-background);
}
table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td {
    color: var(--color);
}
table tr th, table tr td {
    color: inherit;
}
table.tableblock, th.tableblock, td.tableblock {
    border-color: var(--gray);
}
dl dt {
    color: var(--primary);
}
a:hover {
    color: var(--secondary);
    text-decoration-color: var(--highlight);
}
#toc a:hover {
    color: var(--highlight);
}
.dlist .dlist dl dt {
    color: var(--color);
}
@media screen and (min-width:768px) {
    #toc.toc2 {
        background: var(--header-background);
        border-right-color: var(--gray);
    }
}
/* SPECIFIC CONSTRUCTS */
#traditional-vs-agile-table tbody tr td:first-child {
    background: var(--header-background);
}