:root {
    /* boilerplate */
    --gray: #363b3d;
    --gray-medium: #788387;
    --color: #fff;
    --heading-color: #fff;
    /* colors */
    --primary: #e83a32; /*  */
    --secondary: #fff; /*  */
    --highlight: #e83a32; /*  */
    --background: #181a1b; /*  */
    --header-background: #181a1b; /*  */
}
