:root {
    --primary: #f93535;
    --secondary: none;
    --highlight: #999;
    --gray: #363b3d;
    --gray-medium: #788387;
    --gray-light: #e8e6e3;
    --background: #131516;
    --header-background: #2c3032;
    --color: #fff;
    --heading-color: #fff;
}