/* LAYOUTING */
body {
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
}
#author {
    font-family: "Noto Serif", "DejaVu Serif", serif;
    font-style: italic;
}
#footer {
    display: none
}
details, .audioblock, .imageblock, .literalblock, .listingblock, .stemblock, .videoblock {
    margin-bottom: 2.5em;
    margin-top: 2.5em
}
.admonitionblock td.content>.title, .audioblock>.title, .exampleblock>.title, .imageblock>.title, .listingblock>.title, .literalblock>.title, .stemblock>.title, .openblock>.title, .paragraph>.title, .quoteblock>.title, table.tableblock>.title, .verseblock>.title, .videoblock>.title, .dlist>.title, .olist>.title, .ulist>.title, .qlist>.title, .hdlist>.title {
    font-family: inherit;
}
#header>h1:first-child {
    font-family: "Noto Serif", "DejaVu Serif", serif;
    font-style: italic;
}
.no-hyphens #header>h1:first-child {
    hyphens: initial;
}
.paragraph.lead>p, #preamble>.sectionbody>[class="paragraph"]:first-of-type p {
    font-size: .9em
}
ul.no-bullet, ol.no-bullet, ol.unnumbered {
    margin-left: .625em
}
ol>li p, ul>li p, ul dd, ol dd, .olist .olist, .ulist .ulist, .ulist .olist, .olist .ulist {
    margin-bottom: 0
}
.imageblock>.title {
    margin-bottom: 0;
    margin-top: 0.625em
}
.imageblock.text-center>.title {
    text-align: center
}
p, blockquote, dt, td.content, span.alt {
    font-size: .9rem
}
#header>h1:first-child, h1, h2, h3, #toctitle, .sidebarblock>.content>.title, h4, h5, h6, p {
    hyphens: auto;
}
p {
    text-align: justify;
}
p.tableblock {
    text-align: inherit;
}
.no-justify {
    hyphens: unset;
    text-align: left;
    word-break: keep-all;
}
dl dt {
    font-style: italic;
    font-weight: inherit;
    font-size: 1rem;
}
.dlist .dlist dl dt {
    font-size: .9rem;
}
ul, ol, dl {
    line-height: 1.45;
}
.imageblock>.title {
    font-family: "Noto Serif", "DejaVu Serif", serif;
    font-size: .9rem;
}
a {
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: underline;
}
a:focus {
    outline: none;
}
/* COLORING */
body {
    background: var(--background);
    color: var(--color);
}
a {
    color: var(--secondary);
}
.subheader, .admonitionblock td.content>.title, .audioblock>.title, .exampleblock>.title, .imageblock>.title, .listingblock>.title, .literalblock>.title, .stemblock>.title, .openblock>.title, .paragraph>.title, .quoteblock>.title, table.tableblock>.title, .verseblock>.title, .videoblock>.title, .dlist>.title, .olist>.title, .ulist>.title, .qlist>.title, .hdlist>.title {
    color: var(--primary);
}
.imageblock>.title {
    color: var(--gray-medium);
}
.admonitionblock>table td.content {
    border-left-color: var(--gray);
    color: var(--color);
    background: var(--header-background);
}
.sect1+.sect1 {
    border-top-color: var(--gray);
}
#header>h1:first-child,
h1, h2, h3, #toctitle, .sidebarblock>.content>.title, h4, h5, h6 {
    color: var(--primary);
}
#header .details {
    color: var(--color);
    border-bottom-color: var(--gray);
}
table {
    background: none;
}
table thead, table tfoot {
    background: var(--header-background);
}
table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td {
    color: var(--color);
}
table tr th, table tr td {
    color: inherit;
}
table.tableblock, th.tableblock, td.tableblock {
    border-color: var(--gray);
}
dl dt {
    color: var(--primary);
}
a:hover, a:focus {
    color: var(--secondary);
    text-decoration: underline var(--highlight);
}
#toc a:hover {
    color: var(--highlight);
}
#toc {
    border-bottom-color: var(--gray);
}
.dlist .dlist dl dt {
    color: var(--color);
}
.exampleblock > .content {
    background: none;
    box-shadow: none;
}
.quoteblock blockquote, .quoteblock p {
    color: var(--color);
}
@media screen and (min-width:768px) {
    #toc.toc2 {
        background: var(--header-background);
        border-right-color: var(--gray);
    }
}
/* SPECIFIC CONSTRUCTS */
.overview-link {
    font-weight: 300;
    font-size: 1.25em;
    word-spacing: -.05em;
    line-height: 1.2;
}
#traditional-vs-agile-table tbody tr td:first-child {
    background: var(--header-background);
}
